body {
  font-family: sans-serif;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

h1 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

fieldset {
  border: 1px;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px;
  margin: 0;
}

.location-legend {
  width:auto; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.form-buttons {
	text-align: center;
}

.form-template {
  margin-top: 5%;
  margin-bottom: 10%;
  border-style: dashed;
  border-width: thin;
  padding: 10px;
}

.event-title {
	text-align: center;
	margin-top: 5%;
	font-size: 25px;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 15px;
  border: none;
  position: relative;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}