<template name="createEventTemp">
	<div class="form-template">
		<form id="input-event" autocomplete="on">
			<div class="form-group">
				<label for="nameEvent-label">Event name</label>
				<input type="text" class="form-control" name="eventName" id="nameEvent-label" placeholder="UEFA Champions League final" autocomplete="eventName" autofocus>
			</div>
			<div class="form-group">
				<label for="typeEvent-label">Type of event</label>
				<input type="text" class="form-control" name="eventType" id="typeEvent-label" placeholder="Football party to watch the final"  autocomplete="eventType">
			</div>
			<div class="form-group">
				<label for="hostEvent-label">Host</label>
				<input type="text" class="form-control" name="eventHost" id="hostEvent-label" placeholder="Person or organization"  autocomplete="eventHost">
			</div>
			
			<!-- Start data & time -->
			<div class="form-group">
				<label for="startEvent-label">Start date/time</label>
				<div class="input-group datetimepicker">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="text" class="form-control" name="eventStart" id="startEvent" autocomplete="eventStart">
				</div>
			</div>

			<!-- End date & time -->
			<div class="form-group">
				<label for="endEvent-label">End date/time</label>
				<div class="input-group datetimepicker">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input type="text" class="form-control" name="eventEnd" id="endEvent-label" autocomplete="eventEnd">
				</div>
			</div>


			<div class="form-group">
				<label for="guestEvent-label">Guest list</label>
				<input type="text" class="form-control" name="eventGuest" id="guestEvent-label" placeholder="Who's coming?" autocomplete="eventGuest">
			</div>
		
			<fieldset class="form-group">
		          <label class="location-legend">Location</label>
		
		          <div>
		          	<label for="addressEvent-label">Address</label>
		          	<input type="text" class="form-control" name="eventAddress" id="addressEvent-label" placeholder="123 Any Street" autocomplete="billing street-address">
		          </div>
		
		          <div>
		          	<label for="cityEvent-label">City</label>
		          	<input type="text" class="form-control" name="eventCity" id="cityEvent-label" placeholder="New York" autocomplete="billing address-level2">
		          </div>
		
		          <div>
		          	<label for="stateEvent-label">State</label>
		          	<input type="text" class="form-control" name="eventState" id="stateEvent-label" placeholder="NY" autocomplete="billing address-level1">
		          </div>
		
		          <div>
		          	<label for="zipEvent-label">Zip</label>
		          	<input type="text" class="form-control" name="eventZip" id="zipEvent-label" placeholder="10011" autocomplete="billing postal-code">
		          </div>
		
		          <div>
		          	<label for="countryEvent-label">Country</label>
		          	<input type="text" class="form-control" name="eventCountry" id="countryEvent-label" placeholder="USA" autocomplete="billing country">
		          </div>
		    </fieldset>
		  
		    <div class="form-group">
				<label for="messageEvent-label">Message for guests (optional)</label>
				<textarea type="text" class="form-control" name="eventMessage" id="messageEvent-label" placeholder="Include any information you would like to make avaialble for guests"></textarea>
			</div>

			<input type="submit" value="Create my event now" id="createEvent" class="btn btn-success">
		</form>
	</div>
</template>